.habs {
    background-color: $colorprimary;
}
.habitacion1 {
    display: flex;
    flex-direction: column;
}
.size {
    width: 30vw;
    padding: 20px;
}
.habs__texto {
    background-color: white;
    opacity: .8;
    display: block;
    position: absolute;
    padding: 10px 100px;
    top: 350px;
    left: 200px;
}
.prueba {
    background-color: $colorprimary;
    padding: 10px;
}

.space {
    background-color: white;
    padding: 40px 5px;
}
.conditions {
    background-color: white;
    display: block;
    justify-content: center;
}
h4 {
    font-family: 'Oswald', sans-serif;    
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 40px 40px 0px 40px;
}
table {
    padding: 15px;
    font-family: 'Lora', serif;
    color: #2D2D2B;
    letter-spacing: 0;
}
.conditions__tabla {
    background-color: white;
    display: block;
    padding: 50px;
}


.services {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: $colorprimary;
    
    .services-detail {
        align-content: center;
        color: white;
        text-transform: uppercase;
        
        img {
            width: 75px;
        }
    }
}

.carousel-background {
    background-color:teal;
}

.coquito {
    width: 150px;
    padding: 50px;
}


