.habs {
    background-color: $colorprimary;
}
.habitacion1 {
    display: flex;
    flex-direction: column;
}
.size {
    width: 30vw;
    padding: 20px;
}
.habs__texto {
    background-color: white;
    opacity: .8;
    display: block;
    position: absolute;
    padding: 10px 100px;
    top: 350px;
    left: 200px;
}
.prueba {
    background-color: $colorprimary;
    padding: 10px;
}

.space {
    background-color: white;
    padding: 40px 5px;
}
.conditions {
    background-color: white;
    display: block;
    justify-content: center;
}
h4 {
    font-family: 'Oswald', sans-serif;    
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 40px 40px 0px 40px;
}
table {
    padding: 15px;
    font-family: 'Lora', serif;
    color: #2D2D2B;
    letter-spacing: 0;
}
.conditions__tabla {
    background-color: white;
    display: block;
    padding: 50px;
}

.services {
    background-color: white;
    padding: 50px;
    .services-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: $colorprimary;
        
        .services-detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            text-transform: uppercase;
            padding: 20px;
            
            img {
                width: 50px;
                margin: 20px;
            }
        }
    }
}

.bground {
    height: 95vh;
    width: 300px;

    .img {
        position: absolute;

        .img-left {
            left: 0px;
    
        }
        .img-right {
            right: 0px;
    
        }
    }



}




