/* ------habitaciones------ */

// owl-caroulsel 
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    div img {
        background-color: $colorsecondary;
    }
    .item-text {
        @include fontLora ($colorcontrast, 16px, 1px);
        padding: 10px 0px;
        width: 90px;
        text-align: center;
        top: 50%;
        margin: auto;
    }
}

.icon {
    height: 50px;
}
.carousel-bg {
    background-color:$colortertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.carousel-size {
    max-width: 1024px;
    padding: 60px 0px 30px 0px;
}

.image-description {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    h4 {
        padding: 5px 0px 10px 40px;
        @include fontOswald ($colortext, 18px, 2px);
        border-bottom: 2px solid $colorprimary;
    }
    .hab-description {
        list-style-type: disc;
        @include fontOswald ($colortext, 15px, 0px);
        line-height: 180%;
        opacity: .9;
    }
}

.reservar {
    background-color:$colortertiary;
    display: block;
    padding: 10px;
    text-align: center;
    a {
        @include fontOswald ($colorcontrast, 16px, 2px);
        display: block;
        text-decoration: none;
        padding: 5px;
        text-transform: uppercase;
    }
}
.reservar:hover {
    background-color: $colorprimary;
    cursor: pointer;
}

.habitaciones {
    background-color:$colorbg;

}
.rooms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.card {
    background-color:$colorbg;
}

#hab-container {
    padding: 40px;
}
h4 {
    @include fontOswald ($colortext, 16px, 1px);
    text-transform: uppercase;
    padding: 40px 40px 0px 40px;
}

@media only screen and (min-width: 768px) {
    #habitaciones {
        width: 100vw;
        height: 100vh;  
    }
    #hab-container {
        flex-direction: row;
        padding: 40px;
        gap: 20px;
    }
    .rooms {
        flex-direction: row;
        justify-content: space-evenly;
    }
}



