/* ------nosotros------ */

.nosotros {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlapse {
    width: 100%;
    max-width: 1024px;
    display: flex;
    margin: 75px 0px;
    padding: 30px;
    gap: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -10;
    background-color: $colortertiary;
}

.left {
    width: 120%;
    height: 600px;
    margin: -150px;
}

.overlapse-image-one {
    background: url(../img/galeria_23.jpg) no-repeat center / cover;
}

.overlapse-image-two {
    background: url(../img/galeria_13.jpg) no-repeat center / cover;
    z-index: -1;
}

.overlapse-image-three {
    background: url(../img/galeria_24.jpg) no-repeat center / cover;
}

.overlapse-text {
    width: 80%;
    margin-top: -100px;
    min-height: 400px;
    background-color: $colorbg;
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
    padding: 20px;
}


@media only screen and (min-width: 768px) {
    .overlapse-row {
        flex-direction: row;
    }
    .overlapse-rowreverse {
        flex-direction: row-reverse;
    }
    .left {
        width: 60%;
    }
    .text-right {
        width: 50%;
        margin: 0;
        margin-left: -100px;
    }
    .text-left {
        width: 50%;
        margin: 0;
        margin-right: -100px;
    }
    .overlapse {
        margin: 100px 0px;
    }
    

}




