/* ------nosotros------ */

.nosotros_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.section_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.img_logoborder {
    padding: 0px;
    padding-bottom: 50px;
}

.img_logocontainer {
    background-color: $colorsecondary;
    position: relative;
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_logo {
    height: 100px;
    position: absolute;
}

@media only screen and (min-width: 1024px) {
    .nosotros_section {
        flex-direction: row;
    }
    .img_logoborder {
        padding: 50px;
    }
    .img_logo {
        height: 130px;
    }
    .img_logocontainer {
        height: 350px;
        width: 450px;
    }
}

