/* ------reservas------ */
.reservas {
    background-color: white;

    p {
        font-family: 'Lora', serif;
        color: #2D2D2B;
        letter-spacing: 0;
        font-size: 14px;
        line-height: 2;
        padding: 0 20px;
        text-align: justify;
    }
    h3 {
        font-family: 'Oswald', sans-serif;    
        font-weight: 200;
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        padding: 30px 0 15px 0px;
    }
}
.formpd {
    padding: 0px 50px 50px 50px;
}
.formbg {
    background-color: #9B9A8E;
    max-width: 1080px;
    padding: 30px;
    width: auto;
    margin: auto;
    max-width: 1080px;
}

.form-floating {
    font-family: 'Oswald', sans-serif;    
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.form-control {
    font-weight: 200;
    color: #2D2D2B;
    background-color:white;
    border: 1px solid #d8d8d0;
    border-radius: 0;
}

.form-control:focus {
    color:#2D2D2B;
    border-color: #d8d8d0;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #d8d8d0;
}
.btn-primary--form {
    background-color: white;
    display: block;
    margin: auto;
    font-family: 'Oswald', sans-serif;    
    font-weight: 200;
    font-size: 14px;
    padding: 15px 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.col-12 {
    margin-top: 10px;
}

.btn:hover {
    color:white;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: #d8d8d0;
}

.btn {
    line-height: 1;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem blueviolet;
}
.btn-primary {
    color: #2d2d2b;
    background-color:#d8d8d0;
    border-color: #EDE9DE;
}
.btn-primary:hover {
    color:white;
    background-color:#d8d8d0;
    border-color: #EDE9DE;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    color:white;
    background-color:#d8d8d0;
    border-color: #EDE9DE;
    box-shadow: 0 0 0 0.25rem #2d2d2b;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color:white;
    background-color:#d8d8d0;
    border-color: #EDE9DE;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem #2d2d2b;
}
.btn-primary:disabled, .btn-primary.disabled {
    color:white;
    background-color:#d8d8d0;
    border-color: #EDE9DE;
}

.conditions {
    background-color:$colorprimary;
    display: block;
    justify-content: center;
}
h4 {
    font-family: 'Oswald', sans-serif;    
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 40px 40px 0px 40px;
}

.tabla {
    font-family: 'Lora', serif;
    color: #2D2D2B;
    letter-spacing: 0;
    font-size: 14px;
    line-height: 2;
    padding: 20px;
    text-align: justify;
    list-style-type: disc;
    table tr td {
        padding: 5px 15px;
        border: 1px dotted $colorprimary
    }
}
.mediosdepago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    img {
        margin: 10px 0px;
    }
}
.text {
    list-style-type: none;
    padding-top: 20px;
    font-family: 'Lora', serif;
    color: #2D2D2B;
    line-height: 200%;
    font-size: 14px;
    transition: .5s ease;
    opacity: .8; 
}
.accordion-gap {
    padding-bottom: 20px;

}

@media only screen and (min-width: 768px) {
    .reservas {
        flex-direction: row;
    }
    .body-grid--2 {
        position: relative;
        padding: 0px 25px;
        width: auto;
        margin: auto;
        max-width: 1080px;
    }
    .mediosdepago {
        flex-direction: row;
        img {
            padding: 0 20px;
        }
    }
}