/* ------reservas------ */
.reservas {
    background-color:$colorbg;

    p {
        @include fontLora ($colortext, 14px, 0px);
        line-height: 2;
        padding: 0 20px;
        text-align: justify;
    }
}
.formpd {
    padding: 0px 12px 50px 12px;
}
.formbg {
    background-color: $colortertiary;
    max-width: 1080px;
    padding: 30px;
    width: auto;
    margin: auto;
}

.form-floating {
    @include fontOswald ($colortext, 12px, 4px);
    text-transform: uppercase;
}

.form-control {
    font-weight: 200;
    color: $colortext;
    background-color:$colorbg;
    border: 1px solid $colorprimary;
    border-radius: 0;
}

.form-control:focus {
    color: $colortext;
    border-color: $colorprimary;
    outline: 0;
    box-shadow: 0 0 0 0.25rem $colorprimary;
}
.btn-primary--form {
    background-color:$colorbg;
    display: block;
    margin: auto;
    @include fontOswald ($colortext, 14px, 4px);
    padding: 15px 20px;
    text-transform: uppercase;
}
.col-12 {
    margin-top: 10px;
}

.btn:hover {
    color:$colorcontrast;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: $colorprimary;
}

.btn {
    line-height: 1;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
    color: $colortext;
    background-color:$colorprimary;
    border-color: $colorsecondary;
}
.btn-primary:hover {
    color: $colorcontrast;
    background-color:$colorprimary;
    border-color: $colorsecondary;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: $colorcontrast;
    background-color:$colorprimary;
    border-color: $colorsecondary;
    box-shadow: 0 0 0 0.25rem $colortext;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: $colorcontrast;
    background-color:$colorprimary;
    border-color: $colorsecondary;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem $colorprimary;
}
.btn-primary:disabled, .btn-primary.disabled {
    color: $colorcontrast;
    background-color:$colorprimary;
    border-color: $colorsecondary;
}

.conditions {
    background-color:$colorprimary;
    display: block;
    justify-content: center;
}

.mediosdepago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    img {
        margin: 10px 0px;
    }
}
.text {
    @include fontLora ($colortext, 14px, 0px);
    list-style-type: none;
    padding-top: 20px;
    line-height: 200%;
    transition: .5s ease;
    opacity: .8; 
}
.accordion-gap {
    padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .reservas {
        flex-direction: row;
    }
    .body-grid--2 {
        position: relative;
        padding: 0px 25px;
        width: auto;
        margin: auto;
        max-width: 1080px;
    }
    .mediosdepago {
        flex-direction: row;
        img {
            padding: 0 20px;
        }
    }
}