/* ------background------ */

.background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.source {
    position: fixed;
    top: -30px;
    z-index: -100;
}

.booknow {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;    
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.booknow:hover {
    font-size: 18px;
    letter-spacing: 6px;
    color: white;
    transition: .2s ease;
    cursor: pointer;
}



.offcanvas {
    background-color: $colorprimary;
    h5 {
        color:#2D2D2B;
        font-family: 'Oswald', sans-serif;    
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        padding: 40px 20px 0px 20px;
    }
}
.offcanvas-body {
    ul {
        list-style-type: none;
        padding: 10px;
        font-size: 14px;

        li {
            color: #2D2D2B;
            text-decoration: none;
            padding: 5px;
        }
        div {
            padding: 40px 5px;
        }
    }
}

.imgcovid {
    display: flex;
    justify-content: center;
    bottom: 20px;

    img {
        height: 90px;
    }
}

.alertcovid {
    background: #669579;
    opacity: .8;
    border: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 16px;
}
.alertcovid-text {
    opacity: .9;
    color: white;
    padding-right: 10px;
}
.btn-covid {
    background-color: transparent;
    border: none;
}









