/* ------background------ */

.background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.source {
    position: fixed;
    top: -30px;
    z-index: -100;
}

.booknow {
    text-decoration: none;
    border: 2px solid $colorcontrast;
    padding: 10px 20px;
    @include fontOswald ($colorcontrast, 16px, 4px);
    text-transform: uppercase;
}

.booknow:hover {
    font-size: 18px;
    letter-spacing: 6px;
    color: $colorcontrast;
    transition: .2s ease;
    cursor: pointer;
}

.offcanvas {
    background-color: $colorprimary;
    h5 {
        @include fontOswald ($colortext, 16px, 1px);
        text-align: center;
        padding: 40px 20px 0px 20px;
        text-transform: uppercase;
    }
}
.offcanvas-body {
    ul {
        @include fontOswald ($colortext, 14px, 0px);
        list-style-type: none;
        padding: 10px;

        li {
            color: $colortext;
            text-decoration: none;
            padding: 5px;
        }
        div {
            padding: 40px 5px;
        }
    }
}

.imgcovid {
    display: flex;
    justify-content: center;
    bottom: 20px;

    img {
        height: 90px;
    }
}

.alertcovid {
    background: $colorgreen;
    opacity: .8;
    border: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0;
}
.alertcovid-text {
    opacity: .9;
    color: $colorcontrast;
    padding-right: 10px;
}
.btn-covid {
    background-color: transparent;
    border: none;
}









