/* ------footer------ */
.footer {
    background: #d8d8d0;
    font-family: 'Lora', serif;

    .footer__socialmedia {
        text-align: center;
        padding: 10px;
        font-size: 14px;
    }
    .footer__socialmedia--principal {
        p {
            font-family: 'Rokkitt', serif;
            font-size: 16px;
            font-weight: 200;
            letter-spacing: .5px;
            text-transform: uppercase;
            margin-bottom: 8px;
            color: #2D2D2B;
            padding: 10px;
        }
    }
    .footer__socialmedia--secondary {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-top: 15px;
        a {
            text-align: start;
            color: #2D2D2B;
            padding-right: 10px;
            opacity: .8;
            font-size: 14px;
            margin: 0px;
            text-decoration: none;
        }
    }
    .footer_logo {
        height: 40px;
        padding: 5px;
    }
    .footer__img {
        opacity: .8;
        height: 20px;
        margin: 0;
    }

    .footer__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 40px 15px 0px 15px;

        .footer__flex-item {
            padding: 30px;

            h5 {
                color: #2D2D2B;
                font-family: 'Oswald', sans-serif;
                font-weight: 500;
                font-size: 13px;
                letter-spacing: 2px;
                text-transform: uppercase;
                opacity: .8;
                padding-bottom: 5px;
                
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                max-width: 300px;

                li {
                    color: #2D2D2B;
                    opacity: .8;
                    text-decoration: none;
                    font-size: 14px;
                }
            }
            .footer__flex-form {
                border: 1px solid white;
                display: flex;
                flex-direction: row;
                background-color: white;
                margin: 15px 0px;
                flex-wrap: nowrap;
                max-width: 300px;
                position: relative;

                .footer__flex-email {
                    font-family: 'Oswald', sans-serif;
                    font-weight: 200;
                    font-size: 12px;
                    color: #2D2D2B;
                    background-color:white;
                    border: none;
                    border-radius: 0;
                    padding: 10px;
                }
                .footer__flex-email:focus {
                    color:#2D2D2B;
                    border-color: #d8d8d0;
                    outline: 0;
                    box-shadow: 0 0 0 0.25rem #d8d8d0;
                }
                .footer__flex-button {
                    background-color: $colorprimary;
                    font-family: 'Oswald', sans-serif;
                    color: white;
                    padding: 10px 15px;
                    font-weight: 200;
                    font-size: 12px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    border: none;
                    margin: 0;
                    right: 0;
                    position: absolute;
                }
                .footer__flex-button:hover {
                    color: $colorprimary;
                    background-color: white;

                }
            }
        }
    }
}

.backtotop {
    position: fixed; 
    right: 20px;
    bottom: 20px; 
    
    a img {
        width: 50px;
        transition: all 0.4s;
    }

    a img:hover {
        width: 60px;
    }
}


@media only screen and (min-width: 768px) {
    .footer {
        .footer__flex {
            flex-wrap: wrap;
            justify-content: start;
            align-items: flex-start;
    
        }
    }


}


@media only screen and (min-width: 1024px) {
    .footer {
        .footer__flex {
            justify-content: space-around;
            flex-wrap: nowrap;
        }
    }

}





