/* ------footer------ */
.footer {
    background: $colorprimary;
    font-family: 'Oswald', sans-serif;

    .footer__socialmedia {
        text-align: center;
        padding: 10px;
        font-size: 14px;
    }
    .footer__socialmedia--principal {
        p {
            @include fontRokkitt ($colortext, 16px);
            padding: 10px;
        }
    }
    .footer__socialmedia--secondary {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-top: 15px;
        a {
            text-align: start;
            color: $colortext;
            padding-right: 10px;
            opacity: .8;
            font-size: 14px;
            margin: 0px;
            text-decoration: none;
        }
    }
    .footer_logo {
        height: 40px;
        padding: 5px;
    }
    .footer__img {
        opacity: .8;
        height: 20px;
        margin: 0;
    }

    .footer__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 40px 15px 0px 15px;

        .footer__flex-item {
            padding: 30px;

            h5 {
                @include fontOswald ($colortext, 13px, 2px);
                text-transform: uppercase;
                padding-bottom: 5px;
                
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                max-width: 300px;

                li {
                    color: $colortext;
                    opacity: .8;
                    text-decoration: none;
                    font-size: 14px;
                }
            }
            .footer__flex-form {
                border: 1px solid $colorcontrast;
                display: flex;
                flex-direction: row;
                background-color: $colorbg;
                margin: 15px 0px;
                flex-wrap: nowrap;
                max-width: 300px;
                position: relative;
                align-items: center;

                .footer__flex-email {
                    @include fontOswald ($colortext, 12px, 0px);
                    background-color: $colorbg;
                    border: none;
                    border-radius: 0;
                    padding: 10px;
                }
                .footer__flex-email:focus {
                    color: $colortext;
                    border-color: $colorprimary;
                    outline: 0;
                    box-shadow: 0 0 0 0.25rem $colorprimary;
                }
                .footer__flex-button {
                    background-color: $colorprimary;
                    @include fontOswald ($colorcontrast, 12px, 3px);
                    padding: 10px 15px;
                    text-transform: uppercase;
                    border-radius: 0;
                    border: none;
                    margin: 0;
                    right: 0;
                    position: absolute;
                }
                .footer__flex-button:hover {
                    color: $colorprimary;
                    background-color: $colorbg;
                }
            }
        }
    }
}

.backtotop {
    position: fixed; 
    right: 20px;
    bottom: 20px; 
    
    a img {
        width: 50px;
        transition: all 0.4s;
    }

    a img:hover {
        width: 60px;
    }
}

@media only screen and (min-width: 768px) {
    .footer {
        .footer__flex {
            flex-wrap: wrap;
            justify-content: start;
            align-items: flex-start;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .footer {
        .footer__flex {
            justify-content: space-around;
            flex-wrap: nowrap;
        }
    }
}





