
/* ------habitaciones------ */
.habitaciones {
    background-color:#d8d8d0;
    
    h3 {
        font-family: 'Oswald', sans-serif;    
        font-weight: 200;
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        padding: 30px 0 15px 0px;
    }
}
.rooms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.card {
    background-color: white;
}
.card-title {
    font-family: 'Oswald', sans-serif;    
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 20px;
    color: #2D2D2B;
    display: block;
    text-align: center;
}
.card > a{
    justify-content: center;
}
.btn {
    border-radius: none;
    font-family: 'Lora', serif;
    color: #2D2D2B;
    font-size: 10px;
}
.btn {
    line-height: 1;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
    color:green;
  }
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem blueviolet;
}
.btn-primary {
    color: #2d2d2b;
    background-color:#d8d8d0;
    border-color: #EDE9DE;
}
.btn-primary:hover {
    color:white;
    background-color:#d8d8d0;
    border-color: #EDE9DE;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    color:white;
    background-color:#d8d8d0;
    border-color: #EDE9DE;
    box-shadow: 0 0 0 0.25rem #2d2d2b;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color:white;
    background-color:#d8d8d0;
    border-color: #EDE9DE;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem #2d2d2b;
}
.btn-primary:disabled, .btn-primary.disabled {
    color:white;
    background-color:#d8d8d0;
    border-color: #EDE9DE;
}


@media only screen and (min-width: 768px) {
#habitaciones {
    width: 100vw;
    height: 100vh;  
}
#hab-container {
    flex-direction: row;
    padding: 40px;
    gap: 20px;
}
.rooms {
    flex-direction: row;
    justify-content: space-evenly;
}
}