/* ------header------ */

.header {
    position: sticky;
    top: -115px;
    z-index: 100;

    .header__logo {
        position: relative;
        background: $colorprimary;
        color: $colortext;
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 15px;

        a {
            color: $colortext;
            text-decoration: none;
            text-align: center;
        
            h1 {
                @include fontRokkitt ($colortext, 28px);
            }

            h2 {
                @include fontOswald ($colortext, 12px, 4px);
                margin-bottom: 10px;
            }
        }
    }
}
