/* ------nav------ */
.menu {
    background-color: #d8d8d0;
    border-top: 1px solid white;
    padding: 2px;

    .menu__navigation {
        align-items: center;

        .menu__item {
            a {
                color: #2D2D2B;
                font-family: 'Oswald', sans-serif;
                font-weight: 300;
                font-size: 12px;
                letter-spacing: 3px;
                text-transform: uppercase;
                padding: 15px 25px;
                position: relative;
            }
            a:hover {
                background: #d8d8d0;
                transition: 200ms ease-in-out;
                color: white;
            }

            .menu__subitem {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                position: absolute;
                transition: opacity 200ms ease-in-out;
                padding-top: 15px;
                margin-top: 15px;
                background-color: #d8d8d0;
                opacity: .9;
                a {
                    font-size: 11px;
                    text-align: center;
                }
            }
        }
    }
}

.dropdown-menu {
    color: #2D2D2B;
    text-align: center;
    background-color: #d8d8d0;
    border: 0;
    transition: opacity 200ms ease-in-out;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0px;
    background-color: #d8d8d0;
    opacity: .9;
}

.navbar-toggler {
    border: 0;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media only screen and (min-width: 768px) {
    .menu {
        align-items: center;
        padding: 2px;

        .menu__navigation {
            flex-direction: row;
            justify-content: center;

            .menu__item {
                a:hover + .menu__submenu, .menu__submenu:hover {
                    display: inline;
                    position: absolute;
                    top: 137px;
                }
            }
        }
    }
}
